<mat-table [dataSource]="clientes" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let cliente"> {{cliente.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let cliente"> {{cliente.nome}} </mat-cell>
  </ng-container>

  <!-- E-mail Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
    <mat-cell *matCellDef="let cliente"> {{cliente.email}} </mat-cell>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="telefone">
    <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
    <mat-cell *matCellDef="let cliente"> {{cliente.telefone}} </mat-cell>
  </ng-container>

  <!-- Operations Column -->
  <ng-container matColumnDef="operacoes">
    <mat-header-cell *matHeaderCellDef> Operações </mat-header-cell>

    <mat-cell *matCellDef="let cliente">
      <button mat-icon-button color="primary" aria-label="Editar cliente">
        <mat-icon>edit_square</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Editar cliente">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
